.topPanelSection {
	width: 400px;
	text-align: center;
	color: var(--grey-1);

	.__toolbar {
		display: flex;
		justify-content: space-around;
		width: 400px;
		border: 1px solid;
		border-radius: 5px;
		border-color: var(--grey-1);
	}

	button {
		border: 0;
		&:hover {
			background-color: var(--background-selected);
			color: var(--color-selected);
			cursor: pointer;
		}
	}

	.__selected {
		background-color: var(--background-selected);
		color: var(--color-selected);
	}

	.__notSelected {
		background-color: var(--white);
		color: var(--grey-1);
	}

	.__toolText {
		margin: 5px 0 0 0;
	}
}
